name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter (stable channel)
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Enable web
        run: flutter config --enable-web

      - name: Install dependencies
        run: flutter pub get

            - name: Analyze code
        run: flutter analyze lib

      - name: Run tests (project only)
        run: flutter test test

      - name: Build Android release (project only)
        run: flutter test test

      - name: Build APK
        run: flutter build apk --release

      - name: Build web release
        run: flutter build web --release
